# Demo of Chain of Tables

Paper: https://arxiv.org/abs/2401.04398

## Import libraries

In [1]:
# pip install openai==0.28

In [ ]:
import pandas as pd
import requests
import zipfile
import io
import os
import re
import openai

from utils.load_data import wrap_input_for_demo
from utils.llm import ChatGPT
from utils.helper import *
from utils.evaluate import *
from utils.chain import *
from operations import *

## Define model

In [ ]:
# User parameters
model_name: str = "gpt-3.5-turbo"
openai_api_key: str = "YOUR_API_KEY"

In [3]:
gpt_llm = ChatGPT(
    model_name=model_name,
    key=openai_api_key,
)

## Prepare WikiTQ dataset

In [4]:
wiki_tq_dir = "WikiTableQuestions/"
if os.path.exists(wiki_tq_dir) and os.path.isdir(wiki_tq_dir):
    print(f"WikiTableQuestions is already downloaded")
else:
    # Step 1: Download the zip file
    url = "https://github.com/ppasupat/WikiTableQuestions/releases/download/v1.0.2/WikiTableQuestions-1.0.2-compact.zip"
    response = requests.get(url)

    # Step 2: Unzip the contents
    with zipfile.ZipFile(io.BytesIO(response.content)) as zip_ref:
        zip_ref.extractall("WikiTableQuestions")

    print("Download and extraction complete!")

WikiTableQuestions is already downloaded

Here we use a subset of test datset, including 100 questions

In [76]:
test_cases = pd.read_csv(wiki_tq_dir + "data/random-split-4-dev.tsv", sep="\t").head(100)
test_cases = test_cases.set_index("id")
test_cases.head(50)

,utterance,context,targetValue
id,,,
nt-2,which team won previous to crettyard?,csv/204-csv/772.csv,Wolfe Tones
nt-9,which players played the same position as ardo...,csv/203-csv/116.csv,Siim Ennemuist|Andri Aganits
nt-24,who ranked right after turkey?,csv/203-csv/812.csv,Sweden
nt-36,who was the top winner in 2002 of the division...,csv/204-csv/879.csv,Princeton
nt-42,what is the total number of popular votes cast...,csv/203-csv/558.csv,"459,640"
nt-43,which division three team also played in the d...,csv/202-csv/73.csv,Seaford Town
nt-54,does theodis or david play center?,csv/204-csv/847.csv,Theodis Tarver
nt-72,what is the number of formula one series races...,csv/203-csv/198.csv,2
nt-75,how many places list no zip code in either the...,csv/204-csv/356.csv,18
nt-80,has the dominican republic won more or less me...,csv/203-csv/535.csv,less
nt-81,what vehicle maker other than dodge has the mo...,csv/204-csv/89.csv,Chevrolet
nt-84,which year had the most titles released?,csv/204-csv/643.csv,2005
nt-85,name someone else from scotland inducted befor...,csv/204-csv/650.csv,George Burley
nt-86,what party has the most mp's?,csv/203-csv/139.csv,Serbian Progressive Party Српска напредна стра...
nt-89,what was the number of days of the denver open?,csv/204-csv/536.csv,5
nt-93,count how many of these members were unionists.,csv/204-csv/608.csv,1
nt-112,what is the first airbase listed on the chart?,csv/204-csv/102.csv,Abu al-Duhur Military Airbase
nt-120,which opponent has the most wins,csv/204-csv/836.csv,Bahrain
nt-121,what property comes before tensile elongation?,csv/204-csv/229.csv,Tensile Modulus
nt-122,the team's record in 2011 was the same was it'...,csv/204-csv/32.csv,2009
nt-123,which district has the greatest total number o...,csv/204-csv/255.csv,Tikamgarh
nt-129,which election was the first to reach over 40%...,csv/203-csv/558.csv,2003
nt-132,what is the difference (in years) between when...,csv/204-csv/336.csv,47
nt-134,what is the last iec world plugs type in the l...,csv/204-csv/794.csv,N
nt-138,in which country did thierry tulasne win his l...,csv/203-csv/60.csv,Switzerland
nt-141,what is the number of games the senators have ...,csv/203-csv/517.csv,18
nt-153,the total number of helipads at hama military ...,csv/204-csv/102.csv,10
nt-154,what are the only species with 99% sequence id...,csv/204-csv/358.csv,Pan troglodytes|Nomascus leucogenys
nt-163,who was the top scorer after sukhrob nematov?,csv/204-csv/357.csv,Vokhid Shodiev
nt-167,which is the oldest locomotive?,csv/204-csv/816.csv,BL26
nt-168,"what year did the album ""jezebel"" on blockshok...",csv/204-csv/928.csv,1995
nt-171,how many games were only won by 20 points or l...,csv/204-csv/157.csv,2
nt-174,give the total number of riders listed.,csv/204-csv/162.csv,26
nt-182,how many games did the senators play in january?,csv/203-csv/517.csv,10
nt-186,what is the total number of fdrcs that the ppo...,csv/204-csv/916.csv,3
nt-192,how many top scorers do not appear twice?,csv/204-csv/357.csv,4
nt-200,what is the number of symbol zn?,csv/204-csv/39.csv,30
nt-201,which two counties have the larger populations...,csv/204-csv/572.csv,Park and Missoula
nt-205,what is the difference in tom power's number a...,csv/204-csv/89.csv,5
nt-223,when was the benetton b198 chassis used?,csv/202-csv/294.csv,1998
nt-226,what date was the first game played?,csv/203-csv/517.csv,December 21
nt-228,is the rf for wivm-ld 39 or 29?,csv/204-csv/793.csv,39
nt-229,"who held the position longer, t.v sivaraopantu...",csv/204-csv/593.csv,T.V. SivaraoPantulu
nt-230,which players came in a place before lukas bauer?,csv/204-csv/81.csv,Iivo Niskanen|Daniel Richardsson|Johan Olsson|...
nt-234,where was the match held immediately before 20...,csv/204-csv/770.csv,"Tianhe Stadium, Guangzhou"
nt-236,which jockey is before tm jones,csv/204-csv/561.csv,Willie Robinson
nt-239,what year had a total of 2 titles released?,csv/203-csv/836.csv,2010
nt-242,which locomotive weighs the least?,csv/204-csv/850.csv,Re 4/4
nt-244,how many of the listed senators were at least ...,csv/204-csv/145.csv,5
nt-253,how many of the contestants were students?,csv/203-csv/446.csv,3

## Helpful functions

In [6]:
def convert_df_to_table_text(df):
    return [list(df.columns)] + df.astype(str).values.tolist()

def normalize_answer(ans, normalize_numbers=True):
    # Remove "assistant:" prefix
    ans = re.sub(r'^Answer:\s*', '', ans, flags=re.IGNORECASE)

    # Lowercase
    ans = ans.lower()

    # Replace " and " with "|"
    ans = ans.replace(" and ", "|")

    # Remove punctuation (except "|")
    ans = re.sub(r"[^\w\s|]", "", ans)

    # Normalize numbers by removing text after numeric values if needed
    if normalize_numbers:
        ans = re.sub(r'(\d+)[^\d|]*', r'\1', ans)

    # Remove extra spaces around delimiters
    ans = "|".join(part.strip() for part in ans.split("|"))

    return ans.strip()

## Benchmark on WikiTQ

In [75]:
results_loaded = pd.read_csv("subtask_chain_of_table.csv")
results_loaded = results_loaded.set_index("ID")
results_loaded.shape

(98, 2)

### Highlight failed testcases and save as html for later analysis

In [78]:
# Highlight rows where Check == 0
results_backup = pd.read_csv("subtask_chain_of_table_backup.csv")
def highlight_failed(row):
    return ['background-color: salmon' if row['Check'] == 0 else '' for _ in row]

styled_df = results_backup.style.apply(highlight_failed, axis=1)
styled_df.to_html("subtask_highlighted_output.html")

### Benchmarking

In [ ]:
acc = 0
# test_count = 0
results = []

for testcase_id in test_cases.index:
    # Just process testcases those are not in results_loaded 
    if testcase_id in results_loaded.index:
        continue

    try:
        df_path = wiki_tq_dir + test_cases.loc[testcase_id]["context"]
        df = pd.read_csv(df_path)
        statement = test_cases.loc[testcase_id]["utterance"]
        answer = test_cases.loc[testcase_id]["targetValue"]
        
        table_caption = ""
        table_text = convert_df_to_table_text(df)
    
        demo_sample = wrap_input_for_demo(
        statement=statement, table_caption=table_caption, table_text=table_text
        )
        proc_sample, dynamic_chain_log = dynamic_chain_exec_one_sample(
            sample=demo_sample, llm=gpt_llm
        )
        output_sample = simple_query(
            sample=proc_sample,
            table_info=get_table_info(proc_sample),
            llm=gpt_llm,
            use_demo=False,
            llm_options=gpt_llm.get_model_options(
                temperature=0.0, per_example_max_decode_steps=200, per_example_top_p=1.0
            ),
        )
        cotable_log = get_table_log(output_sample)
    except Exception as e:
        print(f"Testcase {testcase_id} fails with error: {str(e)}")
        continue
    
    response = cotable_log[-1]['cotable_result']
    response = response.strip().strip("'\"")
    final_response = response.split("Answer:")[-1].strip()
    
    print(f"ID: {testcase_id} | Response: {final_response} | Ground Truth: {answer}")
    
    # Save to results list
    results.append({
        "ID": testcase_id,
        "Response": final_response,
        "Ground Truth": answer
    })

ID: nt-2 | Response: Confey | Ground Truth: Wolfe Tones
ID: nt-9 | Response: Martti Juhkami, Robert Täht, and Jaanus Nõmmsalu played the same position as Ardo Kreek, which is Spiker. | Ground Truth: Siim Ennemuist|Andri Aganits
ID: nt-24 | Response: Sweden | Ground Truth: Sweden
ID: nt-36 | Response: Michigan | Ground Truth: Princeton
ID: nt-42 | Response: 459,640 | Ground Truth: 459,640
ID: nt-43 | Response: Seaford Town | Ground Truth: Seaford Town
ID: nt-54 | Response: Theodis Tarver plays center. | Ground Truth: Theodis Tarver
ID: nt-72 | Response: 0 | Ground Truth: 2
ID: nt-75 | Response: 17 | Ground Truth: 18
ID: nt-80 | Response: The Dominican Republic has won more medals than China. | Ground Truth: less
ID: nt-81 | Response: Ford | Ground Truth: Chevrolet
ID: nt-84 | Response: 2005 | Ground Truth: 2005
ID: nt-85 | Response: John Wark | Ground Truth: George Burley
ID: nt-86 | Response: Serbian Progressive Party | Ground Truth: Serbian Progressive Party Српска напредна странка / Srpska napredna stranka
ID: nt-89 | Response: 5 | Ground Truth: 5
ID: nt-93 | Response: 1 | Ground Truth: 1
ID: nt-112 | Response: Abu al-Duhur Military Airbase | Ground Truth: Abu al-Duhur Military Airbase
ID: nt-120 | Response: South Korea | Ground Truth: Bahrain
ID: nt-121 | Response: Tensile Modulus | Ground Truth: Tensile Modulus
ID: nt-122 | Response: 2009 | Ground Truth: 2009
ID: nt-123 | Response: Chhatarpur | Ground Truth: Tikamgarh
ID: nt-129 | Response: The 2003 election was the first to reach over 40% of the popular vote. | Ground Truth: 2003
ID: nt-132 | Response: 47 years | Ground Truth: 47
ID: nt-134 | Response: Europlug | Ground Truth: N
ID: nt-138 | Response: Switzerland | Ground Truth: Switzerland
ID: nt-141 | Response: 18 | Ground Truth: 18
ID: nt-153 | Response: 10.0 | Ground Truth: 10
ID: nt-154 | Response: Pan troglodytes and Nomascus leucogenys | Ground Truth: Pan troglodytes|Nomascus leucogenys
ID: nt-163 | Response: Vokhid Shodiev | Ground Truth: Vokhid Shodiev
ID: nt-167 | Response: BL26 | Ground Truth: BL26
ID: nt-168 | Response: 1995 | Ground Truth: 1995
ID: nt-171 | Response: 1 | Ground Truth: 2
Testcase nt-174 fails with error: '_real_select_rows'
ID: nt-182 | Response: 11 | Ground Truth: 10
ID: nt-186 | Response: 2 | Ground Truth: 3
ID: nt-192 | Response: 4 | Ground Truth: 4
ID: nt-200 | Response: 30 | Ground Truth: 30
ID: nt-201 | Response: Park and Missoula (109,299 + Population of Park) > Judith Basin and Madison (Population of Judith Basin + Population of Madison) | Ground Truth: Park and Missoula
ID: nt-205 | Response: 5 | Ground Truth: 5
ID: nt-223 | Response: The Benetton B198 chassis was used in 1998. | Ground Truth: 1998
ID: nt-226 | Response: December 21 | Ground Truth: December 21
ID: nt-228 | Response: 39 | Ground Truth: 39
ID: nt-229 | Response: T.V. Sivarao Pantulu held the position longer. | Ground Truth: T.V. SivaraoPantulu
ID: nt-230 | Response: Daniel Richardsson | Ground Truth: Iivo Niskanen|Daniel Richardsson|Johan Olsson|Dario Cologna
ID: nt-234 | Response: Tianhe Stadium, Guangzhou | Ground Truth: Tianhe Stadium, Guangzhou
ID: nt-236 | Response: Willie Robinson | Ground Truth: Willie Robinson
ID: nt-239 | Response: 2010 | Ground Truth: 2010
ID: nt-242 | Response: JR Freight Class EF200, weighing 100.8 tons. | Ground Truth: Re 4/4
ID: nt-244 | Response: 1 | Ground Truth: 5
ID: nt-253 | Response: 3 | Ground Truth: 3
ID: nt-258 | Response: 2 | Ground Truth: 3
ID: nt-268 | Response: 28 February 2012 | Ground Truth: 28 February 2012
ID: nt-279 | Response: 5 | Ground Truth: 11
ID: nt-285 | Response: Jean-Philippe Ruggia | Ground Truth: Jean-Philippe Ruggia
ID: nt-286 | Response: The most trams are operational. | Ground Truth: Operational
Testcase nt-288 fails with error: Error tokenizing data. C error: Expected 6 fields in line 13, saw 7

In [71]:
results_df = pd.DataFrame(results)
results_df = results_df.set_index("ID")
results_df

,Response,Ground Truth
ID,,
nt-2,Confey,Wolfe Tones
nt-9,"Martti Juhkami, Robert Täht, and Jaanus Nõmmsa...",Siim Ennemuist|Andri Aganits
nt-24,Sweden,Sweden
nt-36,Michigan,Princeton
nt-42,"459,640","459,640"
nt-43,Seaford Town,Seaford Town
nt-54,Theodis Tarver plays center.,Theodis Tarver
nt-72,0,2
nt-75,17,18
nt-80,The Dominican Republic has won more medals tha...,less
nt-81,Ford,Chevrolet
nt-84,2005,2005
nt-85,John Wark,George Burley
nt-86,Serbian Progressive Party,Serbian Progressive Party Српска напредна стра...
nt-89,5,5
nt-93,1,1
nt-112,Abu al-Duhur Military Airbase,Abu al-Duhur Military Airbase
nt-120,South Korea,Bahrain
nt-121,Tensile Modulus,Tensile Modulus
nt-122,2009,2009
nt-123,Chhatarpur,Tikamgarh
nt-129,The 2003 election was the first to reach over ...,2003
nt-132,47 years,47
nt-134,Europlug,N
nt-138,Switzerland,Switzerland
nt-141,18,18
nt-153,10.0,10
nt-154,Pan troglodytes and Nomascus leucogenys,Pan troglodytes|Nomascus leucogenys
nt-163,Vokhid Shodiev,Vokhid Shodiev
nt-167,BL26,BL26
nt-168,1995,1995
nt-171,1,2
nt-182,11,10
nt-186,2,3
nt-192,4,4
nt-200,30,30
nt-201,"Park and Missoula (109,299 + Population of Par...",Park and Missoula
nt-205,5,5
nt-223,The Benetton B198 chassis was used in 1998.,1998
nt-226,December 21,December 21
nt-228,39,39
nt-229,T.V. Sivarao Pantulu held the position longer.,T.V. SivaraoPantulu
nt-230,Daniel Richardsson,Iivo Niskanen|Daniel Richardsson|Johan Olsson|...
nt-234,"Tianhe Stadium, Guangzhou","Tianhe Stadium, Guangzhou"
nt-236,Willie Robinson,Willie Robinson
nt-239,2010,2010
nt-242,"JR Freight Class EF200, weighing 100.8 tons.",Re 4/4
nt-244,1,5
nt-253,3,3
nt-258,2,3
nt-268,28 February 2012,28 February 2012
nt-279,5,11
nt-285,Jean-Philippe Ruggia,Jean-Philippe Ruggia
nt-286,The most trams are operational.,Operational

In [73]:
results_final = pd.concat([results_df, results_loaded])
results_final.to_csv("subtask_chain_of_table.csv")

## Examine some testcases

In [28]:
### Example with chain-of-table
def get_chain_of_table(table_text, wrap_input, llm, answer):
    
    proc_sample, dynamic_chain_log = dynamic_chain_exec_one_sample(
        sample=wrap_input, llm=llm
    )
    output_sample = simple_query(
        sample=proc_sample,
        table_info=get_table_info(proc_sample),
        llm=llm,
        use_demo=False,
        llm_options=llm.get_model_options(
            temperature=0.0, per_example_max_decode_steps=200, per_example_top_p=1.0
        ),
    )
    cotable_log = get_table_log(output_sample)
    
    print(f'Question: {output_sample["statement"]}\n')
    print(f'Table: {output_sample["table_caption"]}')
    print(f"{pd.DataFrame(table_text[1:], columns=table_text[0])}\n")
    
    for table_info in cotable_log:
        if table_info["act_chain"]:
            table_text = table_info["table_text"]
            table_action = table_info["act_chain"][-1]
            if "skip" in table_action:
                continue
            if "query" in table_action:
                result = table_info["cotable_result"]
                print(f"{result}")
            else:
                print(f"-> {table_action}\n{pd.DataFrame(table_text[1:], columns=table_text[0])}")
                if 'group_sub_table' in table_info:
                    group_column, group_info = table_info["group_sub_table"]
                    group_headers = ["Group ID", group_column, "Count"]
                    group_rows = []
                    for i, (v, count) in enumerate(group_info):
                        if v.strip() == "":
                            v = "[Empty Cell]"
                        group_rows.append([f"Group {i+1}", v, str(count)])
                    print(f"{pd.DataFrame(group_rows, columns=group_headers)}")
                print()

    print(f"Groundtruth: {answer}")

### Testcase nt-120

In [33]:
testcase_id = "nt-120"
df_path = wiki_tq_dir + test_cases.loc[testcase_id]["context"]
statement = test_cases.loc[testcase_id]["utterance"]
# answer = test_cases.loc[testcase_id]["targetValue"]  # dataset contains wrong answer
answer = "South Korea"
df = pd.read_csv(df_path)

table_caption = ""
table_text = convert_df_to_table_text(df)

demo_sample = wrap_input_for_demo(
    statement=statement, table_caption=table_caption, table_text=table_text
)

In [34]:
get_chain_of_table(table_text, demo_sample, gpt_llm, answer)

Question: which opponent has the most wins

Table:
     #               Date     Opponent     Score Result  \
0    1               1988    Indonesia       4-0    Won
1    2               1988  South Korea       6-1    Won
2    3               1988  South Korea       6-1    Won
3    4               1988  South Korea       6-1    Won
4    5               1988  South Korea       6-1    Won
5    6               1988         Iraq       2-1    Won
6    7               1988      Bahrain       2-0    Won
7    8               1988      Bahrain       2-0    Won
8    9      June 12, 1989       Guinea       2-2   Draw
9   10      June 12, 1989     Colombia       1-0    Won
10  11      June 12, 1989      Bahrain       1-0    Won
11  12  February 22, 1989     Portugal       3-0    Won
12  13               1989       Kuwait       1-0    Won
13  14               1989      Bahrain  1-1(4-3)   Lost

                                          Competition
0             1988 AFC U-17 Championship Group Stages
1             1988 AFC U-17 Championship Group Stages
2             1988 AFC U-17 Championship Group Stages
3             1988 AFC U-17 Championship Group Stages
4             1988 AFC U-17 Championship Group Stages
5               1988 AFC U-17 Championship Semifinals
6                    1988 AFC U-17 Championship Final
7                    1988 AFC U-17 Championship Final
8      1989 FIFA U-16 World Championship Group Stages
9      1989 FIFA U-16 World Championship Group Stages
10       1989 FIFA U-16 World Championship Semifinals
11    1989 FIFA World Youth Championship Group Stages
12  1989 Palestine Cup of Nations for Youth Group ...
13  1989 Palestine Cup of Nations for Youth Third ...

-> f_group_column(Opponent)
     #               Date     Opponent     Score Result  \
0    1               1988    Indonesia       4-0    Won
1    2               1988  South Korea       6-1    Won
2    3               1988  South Korea       6-1    Won
3    4               1988  South Korea       6-1    Won
4    5               1988  South Korea       6-1    Won
5    6               1988         Iraq       2-1    Won
6    7               1988      Bahrain       2-0    Won
7    8               1988      Bahrain       2-0    Won
8    9      June 12, 1989       Guinea       2-2   Draw
9   10      June 12, 1989     Colombia       1-0    Won
10  11      June 12, 1989      Bahrain       1-0    Won
11  12  February 22, 1989     Portugal       3-0    Won
12  13               1989       Kuwait       1-0    Won
13  14               1989      Bahrain  1-1(4-3)   Lost

                                          Competition
0             1988 AFC U-17 Championship Group Stages
1             1988 AFC U-17 Championship Group Stages
2             1988 AFC U-17 Championship Group Stages
3             1988 AFC U-17 Championship Group Stages
4             1988 AFC U-17 Championship Group Stages
5               1988 AFC U-17 Championship Semifinals
6                    1988 AFC U-17 Championship Final
7                    1988 AFC U-17 Championship Final
8      1989 FIFA U-16 World Championship Group Stages
9      1989 FIFA U-16 World Championship Group Stages
10       1989 FIFA U-16 World Championship Semifinals
11    1989 FIFA World Youth Championship Group Stages
12  1989 Palestine Cup of Nations for Youth Group ...
13  1989 Palestine Cup of Nations for Youth Third ...
  Group ID     Opponent Count
0  Group 1      Bahrain     4
1  Group 2  South Korea     4
2  Group 3     Colombia     1
3  Group 4       Guinea     1
4  Group 5    Indonesia     1
5  Group 6         Iraq     1
6  Group 7       Kuwait     1
7  Group 8     Portugal     1

'Answer: South Korea'
Groundtruth: South Korea

### Testcase nt-234

In [58]:
testcase_id = "nt-234"
df_path = wiki_tq_dir + test_cases.loc[testcase_id]["context"]
statement = test_cases.loc[testcase_id]["utterance"]
answer = test_cases.loc[testcase_id]["targetValue"]
df = pd.read_csv(df_path)

table_caption = ""
table_text = convert_df_to_table_text(df)

demo_sample = wrap_input_for_demo(
    statement=statement, table_caption=table_caption, table_text=table_text
)

get_chain_of_table(table_text, demo_sample, gpt_llm, answer)

Statements: where was the match held immediately before 2014's at guizhou olympic stadium?

Table:
   Season              Date                  Jia-A/CSL Winner  \
0    1995   9 December 1995                  Shanghai Shenhua
1    1996      9 March 1997  Dalian Wanda\n(now Dalian Shide)
2    1997     12 March 1998  Dalian Wanda\n(now Dalian Shide)
3    1998      7 March 1999  Dalian Wanda\n(now Dalian Shide)
4    1999      4 March 2000                   Shandong Luneng
5    2000  30 December 2000                      Dalian Shide
6    2001  26 February 2002                      Dalian Shide
7    2001      2 March 2002                      Dalian Shide
8    2002   6 February 2003                      Dalian Shide
9    2003   18 January 2004                  Shanghai Shenhua
10   2012  25 February 2012              Guangzhou Evergrande
11   2013      3 March 2013              Guangzhou Evergrande
12   2014  17 February 2014              Guangzhou Evergrande

                    Result                           FA Cup Winner  \
0                    1 – 0    Jinan Taishan\n(now Shandong Luneng)
1                    3 – 2                           Beijing Guoan
2        1 – 2\naet (g.g.)                           Beijing Guoan
3                    0 – 3                        Shanghai Shenhua
4                    2 – 4  Liaoning Fushun\n(now Liaoning Whowin)
5                    4 – 1                         Chongqing Lifan
6   1 – 3\n(1 – 1 / 0 – 2)                        Shanghai Shenhua
7   1 – 3\n(1 – 1 / 0 – 2)                        Shanghai Shenhua
8                    1 – 0  Qingdao Beilaite\n(now Qingdao Jonoon)
9                    3 – 4    Beijing Hyundai\n(now Beijing Guoan)
10                   2 – 1                            Tianjin Teda
11                   1 – 2                          Jiangsu Sainty
12                   0 – 1                           Guizhou Renhe

                                              Scorers  \
0                                           Fan Zhiyi
1          Wang Tao (2), Li Ming\nYang Chen, Xie Feng
2                                Wang Tao, Olivas (2)
3                 Wu Chengying, Marcelo Sergipano (2)
4   Li Xiaopeng, Casiano Delvalle\nXiao Zhanbo, Qu...
5                  Hao Haidong, Wang Peng (3)\nLuo Di
6                             Srđan Bajčetić\nWang Ke
7                                         Orlando (2)
8                                         Hao Haidong
9   Zhang Yuning, Zheng Kewei, Jörg Albertz\nKrisz...
10                              Cléo (2)\nWang Xinxin
11                                    Salihi\nKrivets
12                                          Sun Jihai

                                         Stadium
0                      Hongkou Stadium, Shanghai
1                     Shenzhen Stadium, Shenzhen
2                       Wenzhou Stadium, Wenzhou
3                     Mianyang Stadium, Mianyang
4                      Hongkou Stadium, Shanghai
5                      Hongkou Stadium, Shanghai
6                      Hongkou Stadium, Shanghai
7                        Jinzhou Stadium, Dalian
8                     Wuhan Sports Center, Wuhan
9                     Olympic Park Stadium, Wuhu
10  Guangzhou University City Stadium, Guangzhou
11                     Tianhe Stadium, Guangzhou
12              Guizhou Olympic Stadium, Guiyang

-> f_select_row(row 10, row 11)
  Season              Date      Jia-A/CSL Winner Result   FA Cup Winner  \
0   2012  25 February 2012  Guangzhou Evergrande  2 – 1    Tianjin Teda
1   2013      3 March 2013  Guangzhou Evergrande  1 – 2  Jiangsu Sainty

                 Scorers                                       Stadium
0  Cléo (2)\nWang Xinxin  Guangzhou University City Stadium, Guangzhou
1        Salihi\nKrivets                     Tianhe Stadium, Guangzhou

-> f_select_column(*)
  Season              Date      Jia-A/CSL Winner Result   FA Cup Winner  \
0   2012  25 February 2012  Guangzhou Evergrande  2 – 1    Tianjin Teda
1   2013      3 March 2013  Guangzhou Evergrande  1 – 2  Jiangsu Sainty

                 Scorers                                       Stadium
0  Cléo (2)\nWang Xinxin  Guangzhou University City Stadium, Guangzhou
1        Salihi\nKrivets                     Tianhe Stadium, Guangzhou

Answer: Tianhe Stadium, Guangzhou
Groundtruth: The statement is Tianhe Stadium, Guangzhou

## Test with direct prompt

In [79]:
# Serialize the table (you can adjust formatting)
def serialize_table(df):
    return df.to_csv(index=False)

# Build the prompt
def build_prompt(df, question):
    serialized_table = serialize_table(df)
    prompt_str = f"""\
Here's a serialized table.

{serialized_table}

Please answer the question: {question}
Answer: """
    return prompt_str

# Query OpenAI API
def query_openai(prompt, model="gpt-3.5-turbo", temperature=0):
    response = openai.ChatCompletion.create(
        model=model,
        messages=[
            {"role": "user", "content": prompt}
        ],
        temperature=temperature,
    )
    return response['choices'][0]['message']['content'].strip()

In [82]:
results = []
for testcase_id in test_cases.index:
    # need to check if processed
    try:
        df_path = wiki_tq_dir + test_cases.loc[testcase_id]["context"]
        statement = test_cases.loc[testcase_id]["utterance"]
        answer = test_cases.loc[testcase_id]["targetValue"]
        df = pd.read_csv(df_path)
        
        prompt = build_prompt(df, statement)
        response = query_openai(prompt)
        
        response = response.strip().strip("'\"")
        final_response = response.split("Answer:")[-1].strip()
        
        print(f"ID: {testcase_id} | Response: {final_response} | Ground Truth: {answer}")
        
        # Save to results list
        results.append({
            "ID": testcase_id,
            "Response": final_response,
            "Ground Truth": answer
        })
    except Exception as e:
        print(f"Testcase {testcase_id} fails with error: {str(e)}")
        continue

ID: nt-2 | Response: Dundalk Gaels from Louth won the championship in 2003, the year before Crettyard from Laois won in 2005. | Ground Truth: Wolfe Tones
ID: nt-9 | Response: Andri Aganits and Siim Ennemuist played the same position as Ardo Kreek, which is Middle Blocker. | Ground Truth: Siim Ennemuist|Andri Aganits
ID: nt-24 | Response: Sweden | Ground Truth: Sweden
ID: nt-36 | Response: Princeton was the top winner in 2002 of the Division I Undergraduate category. | Ground Truth: Princeton
ID: nt-42 | Response: 459,640 | Ground Truth: 459,640
ID: nt-43 | Response: Seaford Town | Ground Truth: Seaford Town
ID: nt-54 | Response: Theodis Tarver plays center. David Watson does not play center. | Ground Truth: Theodis Tarver
ID: nt-72 | Response: Cochet has been in 0 Formula One series races. | Ground Truth: 2
ID: nt-75 | Response: There are 10 places that list no zip code in either the lower or upper zip code. | Ground Truth: 18
ID: nt-80 | Response: The Dominican Republic has won the same number of medals as China, with each country winning 1 medal. | Ground Truth: less
ID: nt-81 | Response: Chevrolet has the most vehicles in the roster, with a total of 11 Chevrolet Silverados listed. | Ground Truth: Chevrolet
ID: nt-84 | Response: 2005 had the most titles released, with a total of 4 songs featuring Rimi Natsukawa being released that year. | Ground Truth: 2005
ID: nt-85 | Response: John Wark | Ground Truth: George Burley
ID: nt-86 | Response: The Serbian Progressive Party (SNS) has the most MPs with 134 out of 250. | Ground Truth: Serbian Progressive Party Српска напредна странка / Srpska napredna stranka
ID: nt-89 | Response: The Denver Open took place from January 11th to January 15th, so it was a 5-day event. | Ground Truth: 5
ID: nt-93 | Response: One member, Cyrus Wesley Peck, was a Unionist. | Ground Truth: 1
ID: nt-112 | Response: The first airbase listed on the chart is Abu al-Duhur Military Airbase. | Ground Truth: Abu al-Duhur Military Airbase
ID: nt-120 | Response: South Korea has the most wins with a total of 5 wins. | Ground Truth: Bahrain
ID: nt-121 | Response: Flexural Modulus | Ground Truth: Tensile Modulus
ID: nt-122 | Response: The team's record in 2011 was the same as its record in 2009, both finishing with a 5-11 record. | Ground Truth: 2009
ID: nt-123 | Response: Chhatarpur district has the greatest total number of electorates with a total of 476,224 electorates. | Ground Truth: Tikamgarh
ID: nt-129 | Response: The election in 2003 was the first to reach over 40% of the popular vote, with 44.67%. | Ground Truth: 2003
ID: nt-132 | Response: The Royal Blue began in 1890 and the Crusader began in 1937. The difference in years between when the Royal Blue began and when the Crusader began is 47 years. | Ground Truth: 47
ID: nt-134 | Response: N, South Africa SABS 164-2 (3 pin) | Ground Truth: N
ID: nt-138 | Response: Thierry Tulasne won his last singles title in France, at the Metz tournament on 10 February 1986. | Ground Truth: Switzerland
ID: nt-141 | Response: The Ottawa Senators have played 8 games. | Ground Truth: 18
ID: nt-153 | Response: The total number of helipads at Hama Military Airport is 10. | Ground Truth: 10
ID: nt-154 | Response: Pan troglodytes (Chimpanzee) and Nomascus leucogenys (Gibbon) are the only species with 99% sequence identity. | Ground Truth: Pan troglodytes|Nomascus leucogenys
ID: nt-163 | Response: Vokhid Shodiev | Ground Truth: Vokhid Shodiev
ID: nt-167 | Response: BL26, named Bob Hawke, is the oldest locomotive as it entered service in March 1983. | Ground Truth: BL26
ID: nt-168 | Response: 1995 | Ground Truth: 1995
ID: nt-171 | Response: There were 2 games won by 20 points or less:
1. The game against Illinois on 09/28/1946 with a score of W 26-6
2. The game against Southern California on 11/30/1946 with a score of W 26-6 | Ground Truth: 2
ID: nt-174 | Response: There are 26 riders listed in the table. | Ground Truth: 26
ID: nt-182 | Response: The Ottawa Senators played a total of 8 games in January. | Ground Truth: 10
ID: nt-186 | Response: PPoPP has been a part of 3 conferences: 1993, 1999, and 2003. Therefore, the total number of conferences that PPoPP has been a part of is 3. | Ground Truth: 3
ID: nt-192 | Response: There are 5 top scorers who do not appear twice in the table. | Ground Truth: 4
ID: nt-200 | Response: 30 | Ground Truth: 30
ID: nt-201 | Response: Park and Missoula have a combined population of 124,935 (15,636 + 109,299) while Judith Basin and Madison have a combined population of 9,763 (2,072 + 7,691). Therefore, Park and Missoula have a larger combined population. | Ground Truth: Park and Missoula
ID: nt-205 | Response: The difference in Tom Powers' number (55) and Jon Wood's number (50) is 5. | Ground Truth: 5
ID: nt-223 | Response: The Benetton B198 chassis was used in the year 1998. | Ground Truth: 1998
ID: nt-226 | Response: December 21 | Ground Truth: December 21
ID: nt-228 | Response: The RF for WIVM-LD is 39. | Ground Truth: 39
ID: nt-229 | Response: L. Suryalingam held the position longer, from 1963-1964, compared to T.V. Sivarao Pantulu who held the position from 1905-1911. | Ground Truth: T.V. SivaraoPantulu
ID: nt-230 | Response: Johan Olsson from Sweden came in a place before Lukáš Bauer from the Czech Republic. | Ground Truth: Iivo Niskanen|Daniel Richardsson|Johan Olsson|Dario Cologna
ID: nt-234 | Response: The match before the 2014 final at Guizhou Olympic Stadium was held at Tianhe Stadium in Guangzhou. | Ground Truth: Tianhe Stadium, Guangzhou
ID: nt-236 | Response: Paddy Cowley | Ground Truth: Willie Robinson
ID: nt-239 | Response: 2010 had a total of 2 titles released: American McGee Presents Akaneiro and American McGee's Crooked House. | Ground Truth: 2010
ID: nt-242 | Response: The locomotive that weighs the least is the EMD DDA40X from Union Pacific, weighing 244 tons. | Ground Truth: Re 4/4
ID: nt-244 | Response: There were 2 senators listed who were at least 90 years old when they died:
1. Aubert C. Dunn from Mississippi
2. LaFayette L. Patterson from Alabama | Ground Truth: 5
ID: nt-253 | Response: Three contestants were students: Lucas, Andrew, and Tracy. | Ground Truth: 3
ID: nt-258 | Response: There have been three Spanish champions: Àlex Corretja, Sergio Casal, and Emilio Sánchez. | Ground Truth: 3
ID: nt-268 | Response: 28 February 2012 | Ground Truth: 28 February 2012
ID: nt-279 | Response: There were a total of 10 license plates that featured black embossed numbers on them. | Ground Truth: 11
ID: nt-285 | Response: Jean-Philippe Ruggia | Ground Truth: Jean-Philippe Ruggia
ID: nt-286 | Response: The majority of the trams are listed as operational, with only one tram (number 7) being stored awaiting overhaul. | Ground Truth: Operational
Testcase nt-288 fails with error: Error tokenizing data. C error: Expected 6 fields in line 13, saw 7

ID: nt-290 | Response: The Hispanic Asian population had the greatest growth from 2000 to 2005, with a growth rate of 27.89%. | Ground Truth: White
ID: nt-296 | Response: The World Championships in Stuttgart, Germany in 1993 is at the top of the table. | Ground Truth: World Championships
ID: nt-301 | Response: Tomas Marcinko is the player from Slovakia and his number is 115. | Ground Truth: 115
ID: nt-305 | Response: France was the first country to sell weapons to Iraq. | Ground Truth: Czechoslovakia
ID: nt-306 | Response: Chicago won more times than Cal-Berkeley. Chicago won a total of 7 times (1997, 1999, 2001, 2007, 2010, 2011, 2013) while Cal-Berkeley won 3 times (2003, 2004, 2006). | Ground Truth: More
ID: nt-309 | Response: The athlete placed first in the Shot put event at the 2005 European U23 Championships in Erfurt, Germany. | Ground Truth: European U23 Championships
ID: nt-330 | Response: Ince Blundell, with a population of 518 residents, has the least number of residents among the areas listed in the table. | Ground Truth: Ince Blundell
ID: nt-335 | Response: Bayern Munich, Borussia Dortmund, Kaiserslautern, Schalke 04, Borussia Mönchengladbach, Stuttgart, Dresdner SC, Hamburg, Eintracht Frankfurt, Hannover 96, Bayer Leverkusen, Wolfsburg | Ground Truth: Borussia Dortmund|Bayern Munich
ID: nt-341 | Response: There are three players who play the position of point guard: Garreth Lodge, Grant Gibson, and Laurie Costello. | Ground Truth: 3
ID: nt-343 | Response: The competition in Tokyo, Japan where the athlete came in 2nd position was the 1979 Asian Championships. | Ground Truth: Asian Championships
ID: nt-344 | Response: The other works number used in 1883 aside from 316 was 317. | Ground Truth: 317
ID: nt-354 | Response: The attendance for the Saturday, April 13th game was 32,092, while the attendance for the Saturday, May 11th game was 32,126. Therefore, the attendance was slightly higher for the Saturday, May 11th game compared to the Saturday, April 13th game. | Ground Truth: Less
ID: nt-359 | Response: There are 3 different languages listed: Sotho, Afrikaans, and Tswana. | Ground Truth: 3
ID: nt-360 | Response: There was a total of 3 Swiss athletes competing in the men's 15-kilometer classical cross-country skiing event at the 2014 Winter Olympics. | Ground Truth: 3
ID: nt-363 | Response: Silvia Sperber (FRG) has the most total with 685.6 points. | Ground Truth: Silvia Sperber (FRG)
ID: nt-365 | Response: Thomas B. Hart took office the earliest, in January 1868. | Ground Truth: Henry E. Prickett
ID: nt-370 | Response: The track "Wide Open Road" came out in 1986. | Ground Truth: 1986
ID: nt-380 | Response: No, Chipper Adams and Justin Beyendeza have a total of 2 wins in the serialized table provided. | Ground Truth: no
ID: nt-388 | Response: One U.S. Courthouse and Post Office is now used as the Rutland Free Library, according to the dates of use in the table. | Ground Truth: 1
ID: nt-389 | Response: The cooking method (term) that is not below 212 degrees Fahrenheit is "Well done (bien cuit)". | Ground Truth: Over cooked (trop cuit, carbonisé")'
ID: nt-390 | Response: Elisabeth Irwin lived from 1880 to 1942, making her 62 years old. | Ground Truth: 62 years
ID: nt-394 | Response: 7 years. | Ground Truth: 7 years
ID: nt-396 | Response: Valencia CC and Chipola won the most Division II Community College titles, each winning three times. | Ground Truth: Chipola
ID: nt-405 | Response: There are 14 occurrences of "M" under the Tyres column. | Ground Truth: 7
ID: nt-410 | Response: Anime Friends in Brazil had the top attendance figure in its first known year with 25,000 attendees in 2004. | Ground Truth: Anime Friends
ID: nt-414 | Response: No, Tripoli is no longer considered a municipality in Arcadia since its reformation in 2011. It has been divided into several new municipalities within the region. | Ground Truth: Yes
ID: nt-417 | Response: Sarah Churchill had a total of five children. | Ground Truth: 7
ID: nt-421 | Response: 10 different men held the WSL title before Horshu won his first WSL title. | Ground Truth: 6
ID: nt-430 | Response: The team finished above .500 for winning percentage in one season, which was in 2010 with a record of 10-6. | Ground Truth: 2
ID: nt-432 | Response: 203 km were raced on July 8th. | Ground Truth: 203.0 km (126.1 mi)
ID: nt-434 | Response: There were 4 games played against the White Sox in July. | Ground Truth: 7
ID: nt-441 | Response: Argentina placed in the top 4 or above a total of 9 years, and Brazil placed in the top 4 or above a total of 11 years. Therefore, the combined number of years Argentina and Brazil placed in the top 4 or above is 20 years. | Ground Truth: 21
ID: nt-445 | Response: Togo got beyond Round 1 in the year 2013, when they reached the Quarter-Finals. | Ground Truth: 2013
ID: nt-450 | Response: There are 42 more general acute care hospitals in California than rehabilitation hospitals. | Ground Truth: 33
ID: nt-452 | Response: The song from The Lion King, "Can You Feel the Love Tonight", is 3 minutes and 40 seconds long. | Ground Truth: 3:40
ID: nt-463 | Response: The difference in attendance between July 7 and July 8 was 2,192. (24,409 - 22,217 = 2,192) | Ground Truth: 2192
ID: nt-464 | Response: Russia placed first with a total of 5 medals (3 gold, 0 silver, 2 bronze). | Ground Truth: Russia
ID: nt-472 | Response: In the 1985 ACC Women's Basketball Tournament, the #1 ranked team, NC State, finished as the winner. | Ground Truth: NC State
ID: nt-486 | Response: The difference in attendance between week two and week one was 9,997. (60,858 - 50,861 = 9,997) | Ground Truth: 9,997
ID: nt-491 | Response: The opponent listed after Cleveland Freeze in the table is Cincinnati Saints. | Ground Truth: Detroit Waza
ID: nt-493 | Response: Albert Clapp has the least amount of runs with 159. | Ground Truth: 159
ID: nt-494 | Response: Macau was the opponent twice. | Ground Truth: 2
ID: nt-500 | Response: Ireland is represented for both men and women at the top of the list. | Ground Truth: Ireland
ID: nt-501 | Response: There were three German athletes who competed in the men's 15-kilometer classical cross-country skiing event at the 2014 Winter Olympics. Their names are Axel Teichmann, Hannes Dotzler, and Tim Tscharnke. | Ground Truth: 4

In [83]:
results_df_prompting = pd.DataFrame(results)
results_df_prompting = results_df_prompting.set_index("ID")
results_df_prompting.to_csv("subtask_direct_prompting.csv")

### Testcase nt-120

In [ ]:
testcase_id = "nt-120"
df_path = wiki_tq_dir + test_cases.loc[testcase_id]["context"]
statement = test_cases.loc[testcase_id]["utterance"]
# answer = test_cases.loc[testcase_id]["targetValue"]  # dataset contains wrong answer
answer = "South Korea"
df = pd.read_csv(df_path)

prompt = build_prompt(df, statement)
openai.api_key = openai_api_key

response = query_openai(prompt)
print(f"response: {response}")

response: South Korea